.container {
    border: 1px solid black;
}

.form-control{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.alert-warning {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

#coverCanvas {
    margin: 0px;
    border: 2px solid white;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    image-rendering: pixelated;
}