#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    background-color: #c9c9c9;
    min-height: 100vh;
}

h3 {
    margin: 30px;
}

nav {
    padding: 30px;
}

nav a {
    font-weight: bold;
    color: #2c3e50;
    text-decoration: none;
    padding: 30px;
}

nav a.router-link-exact-active {
    color: #42b983;
}

.limit-width {
    max-width: 200px;
}

.cursor-pointer {
    cursor: pointer;
}

.container {
    border: 1px solid black;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 3px;
    margin: 2px;
}

.row {
    --bs-gutter-x: 0;
}

.btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    --bs-btn-padding-x: 5px;
    --bs-btn-padding-y: 1px;
}

.alert-warning {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.image-wrap {
    display: inline-block;
    position: relative;
    border: 1px solid green;
}

.image-placeholder {
    width: 200px;
    height: 200px;
    max-width: 100%;
    border: 1px solid blueviolet;
}

.button-inline {
    position: absolute;
    top: 0;
    right: 0;
}

.post-column {
    flex-direction: column;
    max-width: 600px;
}

.card {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: transparent;
    margin: 2px;
}

.card-body {
    padding: 0;
    margin: 5px;
    max-height: 100px;
}

.card-img {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    max-height: 100px;
}

.card-title {
    /*position: absolute;*/
    top: 0;
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
}

.pagination {
    margin: 5px;
    --bs-pagination-padding-x: 1rem;
    --bs-pagination-padding-y: .1rem;
}

.logout-button {
    padding: 5px;
    position: absolute;
    top: 0;
    right: 0;
}

.home-button {
    padding: 5px;
    position: absolute;
    top: 0;
    left: 0;
}

.form-label {
    display: flex;
    margin: 0;
    padding-left: 5px;
    background-color: yellow;
    text-align: start;
}

.form-control {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.form-control-color {
    width: 100%;
    height: 20px;
    padding: 0;
}

.form-range {
    padding: 10px;
}

.form-range::-webkit-slider-runnable-track {
    border-radius: 0;
    background-color: bisque;
}

.form-range::-webkit-slider-thumb {
    border-radius: 0;
    background-color: orangered;
}

canvas {
    max-width: 100%;
    /*cursor: crosshair;*/
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

#imageCanvas {
    margin: 0;
    /*border: 1px solid white;*/
    /*box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);*/
    /*image-rendering: pixelated;*/
}

.cursor-pointer {
    cursor: pointer;
}

/* Kui modaal on nähtav, rakenda järgmised stiilid */
.modal.fade.show.d-block {
    background-color: rgba(0, 0, 0, 0.8); /* Tausta värv koos läbipaistvusega */
    position: fixed; /* Positsiooni tüüp on fikseeritud */
    z-index: 1050; /* Z-indeks määrab modaalakna kihi järjekorra */
    left: 0; /* Vasak paigutus on null */
    top: 0; /* Ülemine paigutus on null */
    width: 100%; /* Laius on 100% */
    height: 100%; /* Kõrgus on 100% */
    overflow: hidden; /* Peidab ülejäänud sisu, mis ei mahu alale */
}

/* Rakenda järgmised stiilid modaalakna sisule */
.modal-dialog {
    position: fixed; /* Positsiooni tüüp on fikseeritud */
    top: 10%; /* Ülemine paigutus on 10% */
    left: 50%; /* Vasak paigutus on 50% */
    transform: translateX(-50%); /* Teisendab X-telje piki -50% võrra */
}