@font-face {
    font-family: FK Raster Roman Compact;
    src: url("../assets/fonts/FKRasterRomanCompact-Smooth.ttf");
}

#app {
    font-family: FK Raster Roman Compact, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #222323;
    background-color: #7d48b5;
    min-height: 100vh;
}

h3 {
    margin: 30px;
}

nav {
    /*padding: 40px;*/
    font-size: 1.5em;
    background-color: #f0f6f0;
    /*margin-bottom: 20px;*/
}

nav a {
    /*font-weight: bold;*/
    color: #222323;
    text-decoration: none;
    padding: 20px 40px 20px 40px;
}

nav a.router-link-exact-active {
    color: #7d48b5;
}

canvas {
    max-width: 100%;
    cursor: crosshair;
    padding: 0;
    margin: 0;
    border: 1px solid black;
    background-color: #f0f6f0;
}

img {
    max-width: 100%;
    /*border: 1px solid black;*/
}

.navbar-toggler {
    margin: 20px;
}

.logout-button {
    padding: 5px;
    position: relative;
    top: 0;
    right: 0;
}

.home-button {
    padding: 5px;
    position: relative;
    top: 0;
    left: 0;
}

.limit-width {
    max-width: 200px;
}

.cursor-pointer {
    cursor: pointer;
}

.container {
    border: 1px solid black;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 3px;
    margin: 2px;
    background-color: #f0f6f0;
}

.text-custom-dark {
    color: #222323;
    text-decoration: none;
}

.text-custom-light {
    color: #f0f6f0;
    text-decoration: none;
}

.card {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #f0f6f0;
    margin: 2px;
}

.card-body {
    padding: 0;
    margin: 5px;
    max-height: 100px;
}

.card-img {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    max-height: 100px;
}

.card-title {
    /*position: absolute;*/
    top: 0;
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
    color: #f0f6f0;
    background-color: #222323;
}

.row {
    --bs-gutter-x: 0;
}

.row>* {
    flex-shrink: unset;
    /*width: auto;*/
}

.btn {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    --bs-btn-padding-x: 5px;
    --bs-btn-padding-y: 1px;
    background-color: #222323;
    border: 1px solid black;
    --bs-btn-hover-bg: #3f4242;
    --bs-btn-hover-border-color: black;
}

.btn-close {
    --bs-btn-close-focus-opacity: 0;
}

.btn:focus {
    outline: 0;
}

.button-inline {
    position: absolute;
    top: 0;
    right: 0;
}

.button-inline-top {
    position: absolute;
    top: 20px;
    right: 0;
    color: #222323;
    padding: 5px;
}

.button-inline-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #222323;
    padding: 5px;
}

.alert-warning {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.image-wrap {
    display: inline-block;
    position: relative;
    /*border: 1px solid green;*/
}

.image-placeholder {
    width: 200px;
    height: 200px;
    max-width: 100%;
    /*border: 1px solid blueviolet;*/
}

.post-column {
    flex-direction: column;
    max-width: 600px;
}

.pagination {
    margin-bottom: 20px;
    --bs-pagination-padding-x: 1rem;
    --bs-pagination-padding-y: .1rem;
    --bs-pagination-color: #f0f6f0;
    --bs-pagination-border-color: black;
    --bs-pagination-background: #4e5050;
    --bs-pagination-active-bg: #222323;
    --bs-pagination-active-border-color: black;
    --bs-pagination-hover-color: #f0f6f0;
    --bs-pagination-hover-bg: #3f4242;
    --bs-pagination-hover-border-color: black;
}

.page-link {
    background-color: #4e5050;
    /*border: 0;*/
}

.form-label {
    display: flex;
    margin: 0;
    padding-left: 5px;
    background-color: greenyellow;
    text-align: start;
}

.form-control {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.form-control:focus {
    border-color: #222323;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(179, 255, 201, 0.6);
}

.form-control:focus {
    outline: 0;
}

.form-control-color {
    width: 100%;
    height: 20px;
    padding: 0;
}

.form-range {
    padding: 10px;
}

.form-range::-webkit-slider-runnable-track {
    border-radius: 2px;
    background-color: darkseagreen;
}

.form-range::-webkit-slider-thumb {
    border-radius: 3px;
    background-color: greenyellow;
}

#imageCanvas {
    margin: 0;
    /*border: 1px solid white;*/
    /*box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);*/
    /*image-rendering: pixelated;*/
}

.cursor-pointer {
    cursor: pointer;
}

/* Kui modaal on nähtav, rakenda järgmised stiilid */
.modal.fade.show.d-block {
    background-color: rgba(34, 35, 35, 0.8); /* Tausta värv koos läbipaistvusega */
    position: fixed; /* Positsiooni tüüp on fikseeritud */
    z-index: 1050; /* Z-indeks määrab modaalakna kihi järjekorra */
    left: 0; /* Vasak paigutus on null */
    top: 0; /* Ülemine paigutus on null */
    width: 100%; /* Laius on 100% */
    height: 100%; /* Kõrgus on 100% */
    overflow: hidden; /* Peidab ülejäänud sisu, mis ei mahu alale */
}

/* Rakenda järgmised stiilid modaalakna sisule */
.modal-dialog {
    position: fixed; /* Positsiooni tüüp on fikseeritud */
    top: 10%; /* Ülemine paigutus on 10% */
    left: 50%; /* Vasak paigutus on 50% */
    transform: translateX(-50%); /* Teisendab X-telje piki -50% võrra */
}